html
  head
    title= title
  body
    h1 QuizAWS Started with AWS-CodeStar
    
    div= time + ' : 테스트 페이지 입니다.' 

    p
      | CodePipeLine 에서 push 된 소스를 Beanstalk 으로 바로 배포합니다.   
    p
      | 차후 AWS SAM 패턴으로 변경예정...

    ul
      -for(var i=0; i<5; i++)
        li= 'Pug Iterate Test ' + i +' 번째' 
    