html
  head
    title= title
  body
    h1 QuizAWS Started with AWS-CodeStar
    p
      | 페이지 테스트 입니다. 
      strong 퍼그제너레이터
      | ... 아무말 대잔치~
    p
      | API 는 RestAPI 대신에 GraphQL 을 써봐야지 ㅋㅋ
    p
      | Beanstalk 버전 테스트 후 AWS SAM 패턴으로 변경예정...

    ul
      -for(var i=0; i<5; i++)
        li= 'Test iterate Code ' + i +' 번째' 
    div= time