html
  head
    title= title
  body
    h1 QuizAWS Started with AWS-CodeStar
    p
      | 페이지 테스트 입니다. 
      strong 퍼그제너레이터
      | ... 아무말 대잔치~

    ul
      -for(var i=0; i<5; i++)
        li= 'Test iterate Code' + i +'번째' 
    div= time